/*This is a CSS comment*/
p {
	color: red;
	font-family: arial;
	font-size: 20px;
	text-decoration: underline;
	font-style: bold;
}

#word {
	color: purple;
}

div p {
	color: blue;
	font-size: 10px;
}


body {
	background: rgba(0,0,0,.15);
}

.class_test {
	color:yellow;
	font-size: 30px;
}

#id_test {
	color: green;
	font-size: 50px;
}

.hover_test:hover {
	font-size: 50px;
	text-decoration: none;

}

a:visited {
	color: pink;
}